  <mat-toolbar>
    <h2  class="glowing-text" style="cursor: pointer; color: #b636ff; " routerLink="">Altmas</h2>
    <span class="spacer"></span>
    <div class="menu-items">
      <button style="color: #b636ff;;" mat-button routerLink="">HOME</button>
      <button style="color: #b636ff;;" mat-button routerLink="/" fragment="skills">SKILLS</button>
      <button style="color: #b636ff;;" mat-button routerLink="/" fragment="education">EDUCATION</button>
      <button style="color: #b636ff;;" mat-button routerLink="/" fragment="experience">EXPERIENCE</button>
      <button style="color: #b636ff;;" mat-button routerLink="/" fragment="about">ABOUT</button>
    </div>
  </mat-toolbar>